vendor/
tmp/
internal/devnet/db.bolt
internal/devnet/log.jsonl
internal/gethnet/log.jsonl
internal/gethnet/db.bolt
internal/gethnet/datadir/geth/
internal/gethnet/datadir/geth.ipc
internal/gethnet/datadir/history
/chainlink
.envrc
